body {
    margin: 2em auto;
    max-width: 800px;
}

#root {
    display: grid;
    grid-template-columns: 20fr repeat(20, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

button {
    grid-column: span 4;
}

.active {
    background-color: lightpink;
}

section {
    grid-row: 1 / -1;
    position: relative;
    height: 630px;
    width: 420px;
}

.angle {
    background: #00ff0047;
    width: 210px;
    height: 210px;
    position: relative;
    z-index: 2;
}

.pointer {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
}

#output {
    grid-column: 2 / -1;
    grid-row: span 12;
    padding: 0.5em;
    margin: 1em 0;
}

.label {
    padding: 0.3em;
    grid-column: span 5;
}

.before_start,
#before_start {
    background: skyblue;
}
.before_end,
#before_end {
    background: violet;
}
.after_start,
#after_start {
    background: gold;
}
.after_end,
#after_end {
    background: chocolate;
}
