{% extends "base.html" %} {% block content %}
<main>
    <p>
        This application <em>should</em> generate samples of the Diabolic
        script, as it appears in
        <a href="https://linktr.ee/Codex_Inversus">Codex Inversus</a>.
    </p>
    <p>
        The application was written in Python by
        <a href="https://www.reddit.com/user/rockeh/">rockeh</a>, who had no
        hand in developing the written characters.
    </p>
    <p>
        Currently, the layout of the vowels is just a bit wonky. I can't be
        arsed to fix this.
    </p>
    <p><a href="{{ url_for('index') }}">Back to the generator</a></p>
</main>

{% endblock %}
