{% extends "base.html" %}

{% block content %}
<section id="input">
    <form action="/" method="POST">
        <label for="text">Inscribe thy text</label>
        <textarea name="text" id="text" autofocus>{{ text if text else "" }}</textarea>
        <button type="submit">Proceed</button>
    </form>
    <p><a href="{{ url_for('about') }}">What is this?</a></p>
</section>

<section id="output">
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        {% if url %}
        <img src="{{ url }}" alt="{{ text }}" />
        {% endif %}
    {% endif %}
</section>

<script src="{{ url_for('static', filename='script.js') }}" defer></script>

{% endblock %}
